.ollama
.ollamacode
/bin/
/pkg/
/vendor/
**/*.log
**/*.old
**/*.o
**/*.o.d
**/*.a
**/*.flac 
**/*.aif
**/*.aiff
**/*.wav
**/*.opus
**/*.mp4
xxx
/dcai/
**/.pmomusic.yml
**/.pmomusic_covers/**
**/.pmomusic_audio/**
/.pmomusic
.DS_Store
target
/.pmomusic_covers
/.pmomusic_audio/** 
C/src/soxr-0.1.3/Release/tests
**/Release/
**/Debug/
OLD-GO-CODE/
xxx
xx
all.txt
pmo_src.txt
upmpdcli/
/*.xml
test_upnp