/bin/
/pkg/
/vendor/
**/*.log
**/*.old
**/*.o
**/*.o.d
**/*.a
xxx
/dcai/
**/.pmomusic.yml
**/.pmomusic_covers/**
**/.DS_Strore/**
**/.DS_Strore
.pmomusic_covers
C/src/soxr-0.1.3/Release/tests
**/Release/
**/Debug/
OLD-GO-CODE/
xxx
xx
all.txt
